* {
    /* outline: 1px solid rgb(235, 14, 14) !important; */
    margin: 0;
    padding: 0;
  }

html {
  font-size: 60%;
  scroll-behavior: smooth;
}

body {
  background-color: #cadaba;
  margin: 0 auto;
  box-sizing: border-box;
}

input {
  display: none;
}

img {
  object-fit: contain;
}

label {
  padding: 0.8rem;
  cursor: pointer;
  margin: auto 0;
  border-radius: 50%;
}

.wrapper {
  padding: 2rem;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  max-height: 60rem;
  margin: 0 auto;
}

.slides {
  display: flex;
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  transition: all 0.5s;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 80rem;
  padding: 3rem;
}

.footer__text {
  overflow: hidden;
  display: flex;
  width: 73%;
  text-align: center;
}

.footer__text_item {
  min-width: 27rem;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  transition: all 0.5s;
  cursor: pointer;
  color: darkgreen;
}

.footer__buttons {
  display: flex;
  justify-content: end;
}

.click {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: green;
  border-radius: 50%;
  transition: all 0.2s;
}
.click:hover {
  background-color: chocolate;
}
.click:active {
  background-color: darkseagreen;
}
.click:focus {
  background-color: brown;
}

  #mem-1:checked ~ .footer #btn-1,
  #mem-2:checked ~ .footer #btn-2,
  #mem-3:checked ~ .footer #btn-3,
  #mem-4:checked ~ .footer #btn-4 {
    background-color: teal;
  }


  #mem-1:checked ~ .slides .image,
  #mem-1:checked ~ .footer .footer__text .footer__text_item {
    transform: translateX(0%);
  }
  #mem-2:checked ~ .slides .image,
  #mem-2:checked ~ .footer .footer__text .footer__text_item {
    transform: translateX(-100%);
  }
  #mem-3:checked ~ .slides .image,
  #mem-3:checked ~ .footer .footer__text .footer__text_item {
    transform: translateX(-200%);
  }
  #mem-4:checked ~ .slides .image,
  #mem-4:checked ~ .footer .footer__text .footer__text_item {
    transform: translateX(-300%);
  }

  @media (max-width: 767px) {
    .footer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
    .footer__text_item {
      text-align: start;
      min-width: 80vw;
    }
  }
